In [1]:
l = [1,2,3,4, "pran" , "watkare" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
pran
watkare
45.56

In [3]:
for i in l :
    pass

In [4]:
s = "pran"

In [5]:
for i in s :
    print(i)

p
r
a
n

In [8]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself then it will execute else")

1
2
3
4
pran
watkare
45.56
if for loop is going to complete itself then it will execute else

In [9]:
l

[1, 2, 3, 4, 'pran', 'watkare', 45.56]

In [10]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is goint to complete itself")

1
2
3

In [11]:
s = "pranav"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print string" , s)

p
r
a

In [12]:
s = "pranav"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print string" , s)

p
r
a
n
a
v
print string pranav

In [13]:
t = (4,5,6,7,8,5, "pran")
for i in t :
    print(i)

4
5
6
7
8
5
pran

In [14]:
b = {4,5,6,7,7,7,7,7,7,8, "pran"}

In [15]:
type(b)

set

In [16]:
for i in b :
    print (i)

4
5
6
7
8
pran

In [17]:
d = {'key1' : "pran", 'contact' : "pranavwatkare.07@gmail.com", 'position' : "xyz"}

In [18]:
type(d)

dict

In [20]:
for i in d:
    print(i)

key1
contact
position

In [21]:
d ['key1']

'pran'

In [22]:
for i in d:
    print(d[i])

pran
pranavwatkare.07@gmail.com
xyz

In [26]:
for i in d:
    print(i,":", d[i])

key1 : pran
contact : pranavwatkare.07@gmail.com
position : xyz

In [27]:
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [34]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [35]:
list(range(0,9, -1))

[]

In [36]:
list(range(9,0, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
n = 4
for i in range(4):
    for j in range (0, i+1):
        print("pran", end = " ")
    print("\n")

pran

pran pran

pran pran pran

pran pran pran pran

In [45]:
n = 8
for i in range(8):
    for j in range (0, i+1):
        print("pran", end = " ")
    print("\n")

pran

pran pran

pran pran pran

pran pran pran pran

pran pran pran pran pran

pran pran pran pran pran pran

pran pran pran pran pran pran pran

pran pran pran pran pran pran pran pran

In [51]:
n = 3
for i in range(n):
    for j in range (i, n-1):
        print(" " * len("pran"), end = " ")
    for j in range (i+1):
        print("pran", end= " ")
    for j in range (i):
        print("pran", end= " ")
    print()

          pran
     pran pran pran
pran pran pran pran pran

In [55]:
t = (3,23,45,67,2,4,5,6)

In [58]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [60]:
s = "ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [64]:
for i in range (len(s)-1, -1, -1) :
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [65]:
d

{'key1': 'pran', 'contact': 'pranavwatkare.07@gmail.com', 'position': 'xyz'}

In [67]:
for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'pran') <class 'tuple'> <class 'str'>
('contact', 'pranavwatkare.07@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [68]:
l = ["pran", "watkare", 3321565, "pranavwatakare.07@gmail.com", 6565, 6565165]

In [69]:
l = ["pran", "watkare", 3321565, "pranavwatakare.07@gmail.com", 6565, 6565165]
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [70]:
l1

[3321565, 6565, 6565165]

In [72]:
d = {1 : 65564, "name" : "pranav", "email_id" : "pranavwatkare.07@gmail.com", 234 : "dsfdsd", "43" : "dsvdsd", 234 : "5155"}

In [73]:
for i in d:
    print(i)

1
name
email_id
234
43

In [75]:
for i in d:
    if type(i) == int:
        print(i, ":", d[i])

1 : 65564
234 : 5155

In [76]:
s = "aaaabbbccd"

In [77]:
set(s)

{'a', 'b', 'c', 'd'}

In [80]:
for i in set(s):
    print(i, ":", s.count(i))

d : 1
c : 2
b : 3
a : 4

In [81]:
t = ("pranav", "watkare", [1,2,3,4,5], (3,4,5,6), {"key1" : "pranav", "key2" : "watkare"})

In [82]:
for i in t:
    print(i)

pranav
watkare
[1, 2, 3, 4, 5]
(3, 4, 5, 6)
{'key1': 'pranav', 'key2': 'watkare'}

In [86]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                 print(j)

3
3

In [87]:
t = ("pranav", "watkare", [1,2,3,4,5], (3,4,5,6), {3 : 3, "key2" : "watkare"})

In [95]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                 print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k  == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3